<!-- <div class="container">

  <div *ngIf="cartData.data[0].numInCart === 0;" class="text-center my-5">
    <h4>Your Cart Is Empty</h4>
    <button class="btn btn-primary btn-lg mt-3" routerLink="/">GO TO SHOP</button>
  </div>

  <ng-container *ngIf="cartData.data[0].numInCart !== 0">
    <div class="row">
      <div class="col my-4">
        <table class="table table-responsive">
          <thead class="table-dark">
            <tr class="text-center">
              <th>Image</th>
              <th>Title</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of cartData.data; let i=index">
              <td class="d-flex align-items-center justify-content-around">
                <img [src]="c.product.image" alt="{{c.product.name}}" height="60" class="order-1">
                <span class="text-danger" style="cursor: pointer;"><i class="fa fa-trash"
                    (click)="cartService.DeleteProductFromCart(i)"></i></span>
              </td>
              <td>
                <p>{{c.product.name}}</p>
              </td>
              <td>
                <p>{{c.product.price | currency:'USD'}}</p>
              </td>
              <td>
                <form>
                  <div class="value-button" id="decrease" (click)="ChangeQuantity(i, false)">
                    <i class="fa fa-minus"></i>
                  </div>
                  <input type="number" id="number" [value]="c.numInCart" readonly [max]="c.product.quantity" />
                  <div class="value-button" id="increase" (click)="ChangeQuantity(i, true)">
                    <i class="fa fa-plus"></i>
                  </div>
                </form>
              </td>
              <td>
                <p>{{cartService.CalculateSubTotal(i) | currency:'USD'}}</p>
              </td>
            </tr>
            <tr class="border-0">
              <td style="border: none;"></td>
              <td></td>
              <td></td>
              <td>TOTAL</td>
              <td>{{cartTotal | currency:'USD'}}</td>

            </tr>

          </tbody>
        </table>


      </div>

      <div class="col-md-12 d-flex mb-5">
        <div class="d-flex w-100 justify-content-between flex-sm-column flex-md-row">
          <a routerLink="/checkout" class="btn btn-danger btn-sm order-1">Checkout</a>
          <a routerLink="/" class="btn btn-success btn-sm order-0">Continue Shopping</a>
        </div>
      </div>

    </div>
  </ng-container>

</div>
 -->
<main class="main" *ngIf="cartData.data[0].numInCart !== 0">
  <div class="container mb-80 mt-50">
    <div class="row">
      <div class="col-lg-8 mb-40">
        <h1 class="heading-2 mb-10">Your Cart</h1>
        <div class="d-flex justify-content-between">
          <h6 class="text-body">There are <span
              class="text-brand">{{cartData.data[0].numInCart !== 0 ? cartData.data.length : 0}}</span> product(s) in
            your
            cart</h6>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="table-responsive shopping-summery">
          <table class="table table-wishlist">
            <thead>
              <tr class="main-heading">

                <th scope="col" colspan="2">Product</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Subtotal</th>
                <th scope="col" class="end">Remove</th>
              </tr>
            </thead>
            <tbody>
              <tr class="pt-30" *ngFor="let c of cartData.data; let i=index">
                <td class="image product-thumbnail pt-40 "><img [src]="c.product.picture" alt="{{c.product.picture}}">
                </td>
                <td class="product-des product-name">
                  <h6 class="mb-5"><a class="product-name mb-10 text-heading"
                      href="shop-product-right.html">{{c.product.title}}</a></h6>
                </td>
                <td class="price" data-title="Price">
                  <h4 class="text-body">{{c.product.price | currency:'₦'}} </h4>
                </td>
                <td class="text-center detail-info" data-title="Stock">
                  <div class="detail-extralink mr-15">
                    <div class="detail-qty border radius">
                      <a href="javascript:void(0);" class="qty-down" (click)="ChangeQuantity(i, false)"><i
                          class="fa fa-caret-down"></i></a>
                      <span class="qty-val">{{c.numInCart}}</span>
                      <a href="javascript:void(0);" class="qty-up" (click)="ChangeQuantity(i, true)"><i
                          class="fa fa-caret-up"></i></a>
                    </div>
                  </div>
                </td>
                <td class="price" data-title="Price">
                  <h4 class="text-brand">{{cartService.CalculateSubTotal(i) | currency:'₦'}}</h4>
                </td>
                <td class="action text-center" data-title="Remove"><a href="javascript:void(0);"
                    (click)="cartService.DeleteProductFromCart(i)" class="text-body"><i class="fa fa-trash"></i></a>
                </td>
              </tr>
              <tr class="border-0">
                <td style="border: none;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td>TOTAL</td>
                <td>
                  <h4 class="text-brand">{{cartTotal | currency:'₦'}}</h4>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="divider-2 mb-30"></div>
        <div class="cart-action d-flex justify-content-between">
          <a class="btn "><i class="fa fa-caret-left mr-10"></i>Continue Shopping</a>
          <a class="btn  mr-10 mb-sm-15"><i class="fi-rs-refresh mr-10"></i>Checkout</a>
        </div>
        <div class=" mb-30"></div>
      </div>

    </div>
  </div>
</main>



<div *ngIf="cartData.data[0].numInCart === 0;" class="text-center my-5">
  <h4>Your Cart Is Empty</h4>
  <button class="btn btn-primary btn-lg mt-3" routerLink="/">GO TO SHOP</button>
</div>
