<main class="main pages">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
        <span></span> Pages <span></span> My Account
      </div>
    </div>
  </div>
  <div class="page-content pt-50 pb-150">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 m-auto">
          <div class="row">
            <div class="col-md-3">
              <div class="dashboard-menu">
                <ul class="nav flex-column" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab"
                      aria-controls="dashboard" aria-selected="false"><i
                        class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab"
                      aria-controls="orders" aria-selected="true"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab"
                      aria-controls="address" aria-selected="true"><i class="fi-rs-marker mr-10"></i>My Address</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab"
                      aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Account
                      details</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="page-login.html"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-9">
              <div class="tab-content account dashboard-content ">
                <div class="tab-pane fade" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="mb-0">Hello {{user?.full_name}}!</h3>
                    </div>
                    <div class="card-body">
                      <p>
                        From your account dashboard. you can easily check &amp; view your <a href="#">recent
                          orders</a>,<br>
                        manage your <a href="#">shipping and billing addresses</a> and <a href="#">edit your password
                          and account details.</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade active show" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="mb-0">Your Orders</h3>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Order</th>
                              <th>Date</th>
                              <th>Status</th>
                              <th>Total</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let order of orders">
                              <td>#1357</td>
                              <td>{{order?.ordered_date | date}}</td>
                              <td>Processing</td>
                              <td>{{order?.payment.amount | currency:'N'}} for {{order?.cart.length}} item</td>
                              <td><a href="#" class="btn-small d-block">View</a></td>
                            </tr>

                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="card mb-3 mb-lg-0">
                        <div class="card-header">
                          <h3 class="mb-0">Shipping Address</h3>
                        </div>
                        <div class="card-body">
                          <address *ngIf="user.address.landmark">
                            {{user.address.landmark}}
                          </address>

                          <address *ngIf="user.address.billing_address">
                            {{user.address.billing_address}}
                          </address>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                  <div class="card">
                    <div class="card-header">
                      <h5>Account Details</h5>
                    </div>
                    <div class="card-body">
                      <form method="post" name="enq">
                        <div class="row">
                          <div class="form-group col-md-12">
                            <label>First Name <span class="required">*</span></label>
                            <input class="form-control" value="{{user?.full_name}}" readonly>
                          </div>

                          <div class="form-group col-md-12">
                            <label>Email Address <span class="required">*</span></label>
                            <input class="form-control" value="{{user?.email}}" readonly>
                          </div>
                        </div>
                      </form>
                      <form [formGroup]="hangepassForm">
                        <div class="row">
                          <div class="card-header mb-2">
                            <h5>Change Password</h5>
                          </div>

                          <div class="form-group col-md-12">
                            <label>Current Password <span class="required">*</span></label>
                            <input required class="form-control" formControlName="old_password" type="password">
                          </div>
                          <div class="form-group col-md-12">
                            <label>New Password <span class="required">*</span></label> <br><small>*minimum of 8
                              characters</small>
                            <input required class="form-control" formControlName="password" type="password">
                          </div>
                          <div class="form-group col-md-12">
                            <label>Confirm Password <span class="required">*</span></label>
                            <input required class="form-control" formControlName="password2" type="password">
                          </div>
                          <div class="col-md-12">
                            <button type="submit" class="btn btn-fill-out submit font-weight-bold" name="submit"
                              (click)="onSubmit()">Save Change</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
