<header class="header-area header-style-1 header-height-2" data-select2-id="12">

  <div class="header-middle header-middle-ptb-1 d-none sticky-bar d-lg-block" data-select2-id="11">
    <div class="container" data-select2-id="10">
      <div class="header-wrap" data-select2-id="9">
        <div class="logo logo-width-1">
          <a href="index.html"><img src="	http://wp.alithemes.com/html/nest/demo/assets/imgs/theme/logo.svg"
              alt="logo"></a>
        </div>
        <div class="header-right" data-select2-id="8">


          <!-- <input type="text" placeholder="Search for items..."> -->
          <div class="select-box choose-position">
            <select class="" (change)="changeLocation($event)" style="border: 0;
            border-radius: 50px;
            padding-left: 58px;
            background: url(http://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/icon-location.svg) no-repeat 25px center;
            box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.07);
            height: 48px;">
              <option value="asd" selected="" disabled> Select your Location</option>
              <option [value]="c.location_name+'__'+c.instant_price+'__'+c.later_price"
                [selected]="data.getUserLocation == c.location_name" *ngFor="let c of location">
                {{c.location_name}}</option>
            </select>
          </div>


          <div class="header-action-right">
            <div class="header-action-2">
              <div class="header-action-icon-2">
                <a class="mini-cart-icon">
                  <img alt="Nest" src="	http://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/icon-cart.svg">
                  <span class="pro-count blue">{{cartData.data[0].numInCart !== 0 ? cartData.data.length : 0}}</span>
                </a>
                <a><span class="lable">Cart</span></a>
                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                  <ul *ngIf="cartData.data[0].numInCart !== 0">
                    <li *ngFor="let c of cartData.data; let i=index">
                      <div class="shopping-cart-img">
                        <a (click)="selectProduct(c.product.id)"><img alt="Nest" src="{{c.product?.picture}}"
                            width="20px" height="20px"></a>
                      </div>
                      <div class="shopping-cart-title">
                        <h4><a (click)="selectProduct(c.product.id)">{{c.product?.title}}</a></h4>
                        <h4><span>{{c.numInCart}} × </span>{{c.product?.price | currency:'₦'}}</h4>
                      </div>
                      <div class="shopping-cart-delete">
                        <a href="javascript:void(0);" (click)="cartService.DeleteProductFromCart(i)"><i
                            class="fa fa-times"></i></a>
                      </div>
                    </li>

                  </ul>
                  <div class="shopping-cart-footer">
                    <div class="shopping-cart-total">
                      <h4>Total <span>{{cartTotal | currency:'₦'}}</span></h4>
                    </div>
                    <div class="shopping-cart-button">
                      <a href="shop-cart.html" class="outline">View cart</a>
                      <a href="shop-checkout.html">Checkout</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="header-action-icon-2">
                <a href="page-account.html">
                  <img class="svgInject" alt="Nest"
                    src="	http://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/icon-user.svg">
                </a>
                <a href="page-account.html"><span class="lable ml-0">Account</span></a>
                <div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown">
                  <ul>
                    <li>
                      <a href="page-account.html"><i class="fi fi-rs-user mr-10"></i>My Account</a>
                    </li>
                    <li>
                      <a href="page-account.html"><i class="fi fi-rs-location-alt mr-10"></i>Order Tracking</a>
                    </li>
                    <li>
                      <a href="page-account.html"><i class="fi fi-rs-settings-sliders mr-10"></i>Setting</a>
                    </li>
                    <li>
                      <a href="javascript:void(0);" (click)="auth.logOut()"><i class="fi fi-rs-sign-out mr-10"></i>Sign
                        out</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom header-bottom-bg-color">
    <div class="container">
      <div class="header-wrap header-space-between position-relative">
        <div class="logo logo-width-1 d-block d-lg-none">
          <a href="index.html"><img src="	http://wp.alithemes.com/html/nest/demo/assets/imgs/theme/logo.svg"
              alt="logo"></a>
        </div>


        <div class="header-action-icon-2 d-block d-lg-none" (click)="toggleNav()">
          <div class="burger-icon burger-icon-white">
            <span class="burger-icon-top"></span>
            <span class="burger-icon-mid"></span>
            <span class="burger-icon-bottom"></span>
          </div>
        </div>
        <div class="header-action-right d-block d-lg-none">
          <div class="header-action-2">
            <div class="header-action-icon-2">
              <a class="mini-cart-icon" routerLink="/cart">
                <img alt="Nest" src="	http://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/icon-cart.svg">
                <span class="pro-count white">{{cartData.data[0].numInCart !== 0 ? cartData.data.length : 0}}</span>
              </a>
              <div class="cart-dropdown-wrap cart-dropdown-hm2">
                <ul *ngIf="cartData.data[0].numInCart !== 0">
                  <li *ngFor="let c of cartData.data; let i=index">
                    <div class="shopping-cart-img">
                      <a (click)="selectProduct(c.product.id)"><img alt="Nest" src="{{c.product?.picture}}" width="20px"
                          height="20px"></a>
                    </div>
                    <div class="shopping-cart-title">
                      <h4><a (click)="selectProduct(c.product.id)">{{c.product?.title}}</a></h4>
                      <h4><span>{{c.numInCart}} × </span>{{c.product?.price | currency:'₦'}}</h4>
                    </div>
                    <div class="shopping-cart-delete">
                      <a href="javascript:void(0);" (click)="cartService.DeleteProductFromCart(i)"><i
                          class="fa fa-times"></i></a>
                    </div>
                  </li>

                </ul>
                <div class="shopping-cart-footer">
                  <div class="shopping-cart-total">
                    <h4>Total <span>{{cartTotal | currency:'USD'}}</span></h4>
                  </div>
                  <div class="shopping-cart-button">
                    <a href="shop-cart.html">View cart</a>
                    <a href="shop-checkout.html">Checkout</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="header___1O0kh sticky-bar d-block d-lg-none">
    <div class="sectionContent___2XGJB addressBarContent" style="padding : 2px !important;">
      <div class="  mobile-header-border">

        <!-- <input type="text" placeholder="Search for items…">
          <button type="submit"><i class="fa fa-search"></i></button> -->
        <select class="" (change)="changeLocation($event)" style="border: 0;
        border-radius: 10px;
        padding-left: 58px;
        background: url(http://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/icon-location.svg) no-repeat 25px center;
        box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.07);
        height: 43px;">
          <option value="asdsa" selected="" disabled> Select your Location</option>
          <option [value]="c.location_name" [selected]="data.getUserLocation == c.location_name"
            *ngFor="let c of location">
            {{c.location_name}}</option>
        </select>

      </div>
    </div>
  </div>


</header>


<div class="mobile-header-active mobile-header-wrapper-style" id="mobi">
  <div class="mobile-header-wrapper-inner">
    <div class="mobile-header-top">
      <div class="mobile-header-logo">
        <a href="index.html"><img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/theme/logo.svg"
            alt="logo"></a>
      </div>
      <div class="mobile-menu-close close-style-wrap close-style-position-inherit" (click)="toggleNav()">
        <button class="close-style search-close">
          <i class="icon-top"></i>
          <i class="icon-bottom"></i>
        </button>
      </div>
    </div>
    <div class="mobile-header-content-area">
      <div class="mobile-search search-style-3 mobile-header-border">
        <form action="#">
          <input type="text" placeholder="Search for items…">
          <button type="submit"><i class="fi-rs-search"></i></button>
        </form>
      </div>
      <div class="mobile-menu-wrap mobile-header-border">
        <!-- mobile menu start -->
        <nav>
          <ul class="mobile-menu font-heading">
            <li class="menu-item-has-children"><span class="menu-expand"><i class="fi-rs-angle-small-down"></i></span>
              <a href="index.html">Home</a>
              <ul class="dropdown" style="display: none;">
                <li><a href="index.html">Home 1</a></li>
                <li><a href="index-2.html">Home 2</a></li>
                <li><a href="index-3.html">Home 3</a></li>
                <li><a href="index-4.html">Home 4</a></li>
                <li><a href="index-5.html">Home 5</a></li>
                <li><a href="index-6.html">Home 6</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children"><span class="menu-expand"><i class="fi-rs-angle-small-down"></i></span>
              <a href="shop-grid-right.html">shop</a>
              <ul class="dropdown" style="display: none;">
                <li><a href="shop-grid-right.html">Shop Grid – Right Sidebar</a></li>
                <li><a href="shop-grid-left.html">Shop Grid – Left Sidebar</a></li>
                <li><a href="shop-list-right.html">Shop List – Right Sidebar</a></li>
                <li><a href="shop-list-left.html">Shop List – Left Sidebar</a></li>
                <li><a href="shop-fullwidth.html">Shop - Wide</a></li>
                <li class="menu-item-has-children"><span class="menu-expand"><i
                      class="fi-rs-angle-small-down"></i></span>
                  <a href="#">Single Product</a>
                  <ul class="dropdown" style="display: none;">
                    <li><a href="shop-product-right.html">Product – Right Sidebar</a></li>
                    <li><a href="shop-product-left.html">Product – Left Sidebar</a></li>
                    <li><a href="shop-product-full.html">Product – No sidebar</a></li>
                    <li><a href="shop-product-vendor.html">Product – Vendor Infor</a></li>
                  </ul>
                </li>
                <li><a href="shop-filter.html">Shop – Filter</a></li>
                <li><a href="shop-wishlist.html">Shop – Wishlist</a></li>
                <li><a href="shop-cart.html">Shop – Cart</a></li>
                <li><a href="shop-checkout.html">Shop – Checkout</a></li>
                <li><a href="shop-compare.html">Shop – Compare</a></li>
                <li class="menu-item-has-children"><span class="menu-expand"><i
                      class="fi-rs-angle-small-down"></i></span>
                  <a href="#">Shop Invoice</a>
                  <ul class="dropdown" style="display: none;">
                    <li><a href="shop-invoice-1.html">Shop Invoice 1</a></li>
                    <li><a href="shop-invoice-2.html">Shop Invoice 2</a></li>
                    <li><a href="shop-invoice-3.html">Shop Invoice 3</a></li>
                    <li><a href="shop-invoice-4.html">Shop Invoice 4</a></li>
                    <li><a href="shop-invoice-5.html">Shop Invoice 5</a></li>
                    <li><a href="shop-invoice-6.html">Shop Invoice 6</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="menu-item-has-children"><span class="menu-expand"><i class="fi-rs-angle-small-down"></i></span>
              <a href="#">Vendors</a>
              <ul class="dropdown" style="display: none;">
                <li><a href="vendors-grid.html">Vendors Grid</a></li>
                <li><a href="vendors-list.html">Vendors List</a></li>
                <li><a href="vendor-details-1.html">Vendor Details 01</a></li>
                <li><a href="vendor-details-2.html">Vendor Details 02</a></li>
                <li><a href="vendor-dashboard.html">Vendor Dashboard</a></li>
                <li><a href="vendor-guide.html">Vendor Guide</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children"><span class="menu-expand"><i class="fi-rs-angle-small-down"></i></span>
              <a href="#">Mega menu</a>
              <ul class="dropdown" style="display: none;">
                <li class="menu-item-has-children"><span class="menu-expand"><i
                      class="fi-rs-angle-small-down"></i></span>
                  <a href="#">Women's Fashion</a>
                  <ul class="dropdown" style="display: none;">
                    <li><a href="shop-product-right.html">Dresses</a></li>
                    <li><a href="shop-product-right.html">Blouses &amp; Shirts</a></li>
                    <li><a href="shop-product-right.html">Hoodies &amp; Sweatshirts</a></li>
                    <li><a href="shop-product-right.html">Women's Sets</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children"><span class="menu-expand"><i
                      class="fi-rs-angle-small-down"></i></span>
                  <a href="#">Men's Fashion</a>
                  <ul class="dropdown" style="display: none;">
                    <li><a href="shop-product-right.html">Jackets</a></li>
                    <li><a href="shop-product-right.html">Casual Faux Leather</a></li>
                    <li><a href="shop-product-right.html">Genuine Leather</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children"><span class="menu-expand"><i
                      class="fi-rs-angle-small-down"></i></span>
                  <a href="#">Technology</a>
                  <ul class="dropdown" style="display: none;">
                    <li><a href="shop-product-right.html">Gaming Laptops</a></li>
                    <li><a href="shop-product-right.html">Ultraslim Laptops</a></li>
                    <li><a href="shop-product-right.html">Tablets</a></li>
                    <li><a href="shop-product-right.html">Laptop Accessories</a></li>
                    <li><a href="shop-product-right.html">Tablet Accessories</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="menu-item-has-children"><span class="menu-expand"><i class="fi-rs-angle-small-down"></i></span>
              <a href="blog-category-fullwidth.html">Blog</a>
              <ul class="dropdown" style="display: none;">
                <li><a href="blog-category-grid.html">Blog Category Grid</a></li>
                <li><a href="blog-category-list.html">Blog Category List</a></li>
                <li><a href="blog-category-big.html">Blog Category Big</a></li>
                <li><a href="blog-category-fullwidth.html">Blog Category Wide</a></li>
                <li class="menu-item-has-children"><span class="menu-expand"><i
                      class="fi-rs-angle-small-down"></i></span>
                  <a href="#">Single Product Layout</a>
                  <ul class="dropdown" style="display: none;">
                    <li><a href="blog-post-left.html">Left Sidebar</a></li>
                    <li><a href="blog-post-right.html">Right Sidebar</a></li>
                    <li><a href="blog-post-fullwidth.html">No Sidebar</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="menu-item-has-children"><span class="menu-expand"><i class="fi-rs-angle-small-down"></i></span>
              <a href="#">Pages</a>
              <ul class="dropdown" style="display: none;">
                <li><a href="page-about.html">About Us</a></li>
                <li><a href="page-contact.html">Contact</a></li>
                <li><a href="page-account.html">My Account</a></li>
                <li><a href="page-login.html">Login</a></li>
                <li><a href="page-register.html">Register</a></li>
                <li><a href="page-forgot-password.html">Forgot password</a></li>
                <li><a href="page-reset-password.html">Reset password</a></li>
                <li><a href="page-purchase-guide.html">Purchase Guide</a></li>
                <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                <li><a href="page-terms.html">Terms of Service</a></li>
                <li><a href="page-404.html">404 Page</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children"><span class="menu-expand"><i class="fi-rs-angle-small-down"></i></span>
              <a href="#">Language</a>
              <ul class="dropdown" style="display: none;">
                <li><a href="#">English</a></li>
                <li><a href="#">French</a></li>
                <li><a href="#">German</a></li>
                <li><a href="#">Spanish</a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <!-- mobile menu end -->
      </div>
      <div class="mobile-header-info-wrap">
        <div class="single-mobile-header-info">
          <a href="page-contact.html"><i class="fi-rs-marker"></i> Our location </a>
        </div>
        <div class="single-mobile-header-info">
          <a href="page-login.html"><i class="fi-rs-user"></i>Log In / Sign Up </a>
        </div>
        <div class="single-mobile-header-info">
          <a href="#"><i class="fi-rs-headphones"></i>(+01) - 2345 - 6789 </a>
        </div>
      </div>
      <div class="mobile-social-icon mb-50">
        <h6 class="mb-15">Follow Us</h6>
        <a href="#"><img src="assets/imgs/theme/icons/icon-facebook-white.svg" alt=""></a>
        <a href="#"><img src="assets/imgs/theme/icons/icon-twitter-white.svg" alt=""></a>
        <a href="#"><img src="assets/imgs/theme/icons/icon-instagram-white.svg" alt=""></a>
        <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest-white.svg" alt=""></a>
        <a href="#"><img src="assets/imgs/theme/icons/icon-youtube-white.svg" alt=""></a>
      </div>
      <div class="site-copyright"> Copyright 2022 © Nest. All rights reserved. Powered by AliThemes.</div>
    </div>
  </div>
</div>
