<ngx-spinner bdColor="rgba(151,149,149,0.4)" size="large" color="orange" type="ball-clip-rotate-pulse"
  fullScreen="true">
  <p style="font-size: 20px; color: black">Booking Order...</p>
</ngx-spinner>

<main class="main" data-select2-id="20" *ngIf="cartData.total > 0">
  <div class="page-header breadcrumb-wrap" #loi id="loi" id="focusme" tabindex="100">
    <div class="container">

      <div class="breadcrumb">
        <a routerLink="/" rel="nofollow" class="mr-5"><i class="fa fa-home mr-5"></i>Home</a>
        <i class="fa fa-caret-right" style="padding: 0 10px;"></i>
        Shop
        <i class="fa fa-caret-right" style="padding: 0 10px;"></i>
        Checkout
      </div>
    </div>
  </div>
  <div class="container mb-80 mt-50" data-select2-id="19">
    <div class="row">
      <div class="col-lg-8 mb-40">
        <h1 class="heading-2 mb-10">Checkout</h1>
        <div class="d-flex justify-content-between">
          <h6 class="text-body">There are <span class="text-brand">3</span> products in your cart</h6>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <div class="row mb-50">
          <div class="col-lg-8 mb-sm-15 mb-lg-0 mb-md-3">
            <div class="toggle_info">
              <span><i class="fa fa-user mr-10"></i><span class="text-muted font-lg">Already have an account?</span> <a
                  (click)="login()" data-toggle="collapse" href="javascript:void(0);" role="button"
                  aria-expanded="false" aria-controls="login_form" class="font-lg">Click here
                  to login</a></span>
            </div>
            <div class="panel-collapse login_form collapse " id="login_form">
              <div class="panel-body">
                <p class="mb-30 font-sm">If you have shopped with us before, please enter your details below. If you are
                  a new customer, please proceed to the Billing &amp; Shipping section.</p>
                <form [formGroup]="loginForm">
                  <div class="form-group">
                    <input type="email" required="" name="username" placeholder=" Email *" formControlName="username">
                  </div>
                  <div class="form-group">
                    <input required="" type="password" name="password" placeholder="Your password *"
                      formControlName="password">
                  </div>
                  <div class="login_footer form-group">
                    <div class="chek-form">
                      <div class="custome-checkbox">
                        <input class="form-check-input" type="checkbox" name="checkbox" id="remember" value="">
                        <label class="form-check-label" for="remember"><span>Remember me</span></label>
                      </div>
                    </div>
                    <a href="#">Forgot password?</a>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-md" name="login" [disabled]="!loginForm.valid" (click)="onSubmit()">Log
                      in</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <form [formGroup]="checkoutForm">
      <div class="row">
        <div class="col-lg-7">
          <h4 class="mb-30">Billing Details</h4>
          <div class="row">
            <div class="form-group col-lg-6">
              <input type="text" class="form-control" required="" name="full_name" placeholder="Full name *"
                formControlName="full_name">
            </div>
            <div class="form-group col-lg-6">
              <input type="text" class="form-control" required="" name="email" placeholder="Email *"
                [readonly]="this.checkoutForm.value.email" formControlName="email">
            </div>
          </div>
          <div formGroupName="address">
            <div class="row">
              <div class="form-group col-lg-6">
                <input type="text" class="form-control" name="address" required="" placeholder="Address *"
                  formControlName="billing_address">
              </div>
              <div class="form-group col-lg-6">
                <input type="text" class="form-control" name="address" required="" placeholder="Landmark *"
                  formControlName="landmark">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-lg-12">
              <input required class="form-control" type="number" name="phone" placeholder="Phone *"
                formControlName="phone">
            </div>
          </div>
          <!--    <div class="form-group" *ngIf="!auth.isLoggedIn()">
            <div class="checkbox">
              <div class="custome-checkbox">
                <input class="form-check-input" type="checkbox" name="checkbox" id="createaccount"
                  formControlName="create_account">
                <label class="form-check-label label_info" data-bs-toggle="collapse" href="#collapsePassword"
                  (click)="collapsePass()" data-target="#collapsePassword" aria-controls="collapsePassword"
                  for="createaccount"><span>Create an
                    account?</span></label>
              </div>
            </div>
          </div>
          <div id="collapsePassword" class="form-group create-account collapse in" *ngIf="!auth.isLoggedIn()">
            <div class="row">
              <div class="col-lg-6">
                <input type="password" placeholder="Password" formControlName="password" autocomplete="new-password">
              </div>
            </div>
          </div> -->
        </div>
        <div class="col-lg-5">
          <div class="border p-40 cart-totals ml-30 mb-50">
            <div class="d-flex align-items-end justify-content-between mb-30">
              <h4>Your Order</h4>
              <h6 class="text-muted">Subtotal</h6>
            </div>
            <div class="divider-2 mb-30"></div>
            <div class="table-responsive order_table checkout">
              <table class="table no-border">
                <tbody>
                  <tr *ngFor="let c of cartData.data;">
                    <td class="image product-thumbnail"><img [src]="c.product.picture" alt="#"></td>
                    <td>
                      <h6 class="w-160 mb-5"><a href="shop-product-full.html"
                          class="text-heading">{{c.product.title}}</a>
                      </h6>

                    </td>
                    <td>
                      <h6 class="text-muted pl-20 pr-20">x {{c.numInCart}}</h6>
                    </td>
                    <td>
                      <h4 class="text-brand">{{c.product.price | currency : 'N'}}</h4>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="ant-select-selection-selected-value mb-1" style="display: block; opacity: 1;">Delivery
                time</div>

              <div class="form-group form-control" name="delivery_time">
                <div class="custom-select js-example-basic-single"
                  style="width:100%; border-radius: 10px; border: none;">
                  <select formControlName="delivery_time" name="delivery_time">
                    <option value="" selected>Choose Delivery time</option>
                    <option value="1"> Now
                    </option>
                    <option value="2"> 12:00pm - 5:00pm</option>
                  </select>
                </div>
              </div>


              <div class="Summary___xAbzz" *ngIf="this.checkoutForm?.value.delivery_time > 0">
                <div class="feeDetail___UmhH4 ">

                  <div class="flexSpaceBetween___J6Lln mb-2">
                    <div class="subTotal___1rSTB"><span>Delivery fee</span>
                    </div>
                    <h6>
                      {{(this.checkoutForm?.value.delivery_time == 1  ?  data?.getUserLocationInstantPrice : data?.getUserLocationLaterPrice) | currency : 'N'}}
                      <span *ngIf="this.cartWeight >= 10">+ {{this.weightPrice | currency : 'N'}}
                        ({{this.cartWeight}}Kg)</span>
                    </h6>
                  </div>
                  <div class="flexSpaceBetween___J6Lln">
                    <div class="subTotal___1rSTB"><span>Subtotal (estimated)</span>
                    </div>
                    <h6>
                      {{(this.checkoutForm?.value.delivery_time == 1 ? (this.cartTotal + this.weightPrice) +  data?.getUserLocationInstantPrice : (this.cartTotal + this.weightPrice) + data?.getUserLocationLaterPrice) | currency : 'N'}}
                    </h6>
                  </div>
                </div>
                <!-- <div>Delivery Fee will be shown after you review order</div> -->
              </div>
            </div>
          </div>
          <div class="payment ml-30">
            <h4 class="mb-30">Payment</h4>
            <div class="payment_option">
              <div class="custome-radio">
                <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios5"
                  checked="">
                <label id="dfdf" class="form-check-label" for="exampleRadios5" data-bs-toggle="collapse"
                  data-target="#paypal">Online Getway</label>
              </div>
            </div>
            <div class="payment-logo d-flex">
              <img class="mr-15" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/payment-visa.svg"
                alt="">
              <img class="mr-15" src="http://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/payment-master.svg"
                alt="">
            </div>
            <!--  <a onClick="document.getElementById('focusme').focus();">
              Login
            </a> -->
            <button (click)="checkOut()" name="logiawn" class="btn btn-fill-out btn-block mt-30">
              {{!auth.isLoggedIn() ? 'Login to' : ''}} Place an
              Order<i class="fi-rs-sign-out ml-15"></i></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</main>



<div class="text-center my-5" *ngIf="cartData.total <= 0">
  <h4>Your Cart Is Empty</h4>
  <button class="btn btn-primary btn-lg mt-3" routerLink="/">GO TO SHOP</button>
</div>
